# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\PSR LAB\ObjectDB_column\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
